# Optional Environment Configuration for JSERP

# License Verification Server API URL (Defaults to https://jserp.jahasoft.com/api)
LICENSE_API_URL=https://jserp.jahasoft.com/api

# App Environment (development | production)
NODE_ENV=development
